.home {
 display:block;
 height: 100%;
}

.home-banner{
  padding: 1% 37%;
  background-color: white;
}
.new-btn{
  pointer-events:none;
  background-color: rgb(223,6,17);
  color: white;
  padding: 3px 12px;
  margin: 0px 15px;
  font-weight: bold;
  border:none;
  border-radius: 20px;

}
.home-banner > p1{
 font-size: 18px; 
}
.home-banner >p1 > span{
  font-weight: bolder;
  font-size: 23px;
}
.home-banner-learn-more{
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
} 

.home-banner-learn-more > span{
  font-size: 25px;
}

.home-hero{

    background: radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,1));
    height: 70vh;
    position: relative;
    z-index: 0;

}
.home-hero-logo{
  position: relative;
  width: 200px;
  bottom: 67vh;
  left: 3vh;
}
.home-hero-bg{
  height: 70vh;
  max-width: 100%;
  min-width: 100%;
  opacity: 50%;
 object-fit: cover;
 position: relative;
 z-index: -2;

}
.home-hero-text{
  text-align: center;
  position: relative;
  z-index: 2;
  color: white;
  bottom: 50vh;
  padding: 0 20%;
}

.home-hero-text > h1 {
  font-weight: bold;
  font-size: 65px;
}

.home-hero-text > h2{
  font-size: 25px;
} 
.home-hero-text > h3{
  padding-top: 20px;
  font-size: 22px;
}


.email-form{
  display:flex;
  justify-content: center;
  text-align: center;

}
.email-form-text{
  margin-top: 5%;
  padding: 35px 20px 35px 5px;
  height: 60px;
  width: 65%;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
} 

.email-form-submit{
  height: 75px;
  border: none;
  padding: 0 20px;
  font-size: 25px;
  line-height: 0px;
  background-color: rgb(223,6,17);
  color: white;
}
.email-form-submit:hover{
  background-color: rgb(255, 57, 57);
}

.row-break{
  height:20px;
  background-color: rgb(34,34,34);
  width: 100%;
}


.home-row{
  padding: 5% 20%;
  background-color: black;
  display:flex;
}

.home-row-text{
  color: white;
  padding: 0 20px;
}
.home-row-text >h1{
  font-weight: bold;
  font-size:50px;
  margin-bottom: 20px;
}

.home-row-text >h2{
  font-size: 30px;
}
.home-faq{
  display:flex;
  flex-direction: column;
  padding: 2% 30%;

}
.home-faq >h1 {
  text-align :center;
  color: white;
  font-size:60px;
  margin-bottom: 20px;
}
.home-faq-container{
  display:flex;
  flex-direction: column;

}
.home-faq-question{
  background-color: rgb(48,48,48);
  color: white;
  padding: 20px 20px 30px 30px;
}
.home-faq-container > h3{
  text-align: right;
  font-weight: lighter;
  font-size: 60px;
  margin-top: -95px;
  margin-right: 20px;
  color: white;
  
}
.home-faq-container > p{
  background-color:  rgb(48,48,48);
  color: white;
  padding: 20px 20px 30px 30px;
  font-size: 30px;
}
.home-faq-text{
  transform: 200ms;
}

.bottom-form-label{
  color: white;
  font-size: 20px;
  text-align :center;
  margin-bottom: -10px;
}
.hidden{
  height: 0px;
  visibility: hidden;
}
/* 
RESPONSIVE */
@media only screen and (max-width: 1750px) {
  .home-banner{
    text-align: center;
    padding: 1% 0;
  }
  .home-hero-text > h1{
    font-size: 55px;
  }
  .home-row{
  padding: 5% 5%;

}
}

@media only screen and (max-width: 1000px) {
  .home-hero-text{
    padding: 0 5%;
  }
}