.login{
  height: 100vh;
}
.hero-background-container{
  background-color: black;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -1;
}
.hero-background {
  opacity: 0.6;
  width: 100vw;
  height: 100%;
   object-fit: cover;
}

.login-logo{
  height: 50px;
  margin: 2% 5%;

}
@media only screen and (max-width: 700px) {
  .login{
    width: 100vw;
    height: 100%;
  }
  .hero-background{
    opacity:0;
  }
  .hero-background-container{
    height: 100%;
    width: 100%;
  }
  .login-logo{
    margin-top: 8%;
  }
}