.login-form {
  width: 500px;
  margin: auto;
  padding: 3% 5%;
  background-color: rgba(0,0,0,.75);
  color: white;
}
.login-form > form {
  display: flex;
  flex-direction: column;
  margin: 0%;
}
.login-form > h1 {
  font-family: sans-serif;
  font-weight: 700;
  color:white;
}
.login-form > h2 {
  color: white;
  font-weight: lighter;
  font-size: 13px;
  font-family: sans-serif;
}
.login-form > form > label {
  color: white;
  padding: 10px 0;
}
.login-form > form > input {
  border: 2px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
.login-form > form > button {
  margin: 20px 0;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: red;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.error {
  color: white;
  background-color: #E87C03;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.login-text{
  color: white;
    font-size: 15px;
}
.small-text > button {
  background-color: rgba(0,0,0, 0);
  color: white;
  border: none;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
 .login-form {
  margin: auto;
  width: 100%;
 }
}