.movie-poster {
  padding: 0 7px;
  transition: transform 300ms;
  border-radius: 5px 5px 0 0;
  color: white;
  display: block;
  width: 100%;
}

.movie-poster:hover {
  transition-delay: 300ms;
  transform: scale(1.3) translateY(-10%) !important;
  position: relative;
  z-index: 6;
}

.movie-poster-img {
  height: 160px;
  border-radius: 5px;
  z-index: 2;
}

.movie-poster:hover > .display {
  height: 110%;
  border-radius: 5px;
  transition-delay: 300ms;
  box-shadow: 1px 6px 15px 5px rgba(0, 0, 0, 0.8);
}
.display {
  height: 0px;
  overflow: hidden;
  padding-top: 20px;
  margin-top: -20px;
  max-width: 285px;
  background-color: rgb(14, 13, 13);
}

.movie-name {
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 10px;
}
.genres-container {
  display: block;
  padding-bottom: 5%;
  padding-left: 2%;
  max-width: 100%;
}
.genre {
  color: white;
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  display: inline;
  padding: 0 5px 0px 5px;
}

.card-button {
  position: relative;
  margin: 1% 1%;
  background-color: rgb(61, 57, 57);
  color: white;
  border: solid 1px rgb(61, 57, 57);
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 5px;
}
.angle-down-button {
  float: right;
}
.card-button:hover {
  opacity: 80%;
}

.play{
  background-color:white;
  color: rgb(61, 57, 57);
}
.handle-list-button:hover {
  border: solid 1px white !important;
  opacity: 100% !important;
}

.angle-down-button:hover {
  border: solid 1px white !important;
}


/* RESPONSIVE */
@media only screen and (max-width: 800px) {
  .movie-poster-img{
      height: 100px;
  }
  .movie-name {

    margin-left: 10px;
    font-size: 12px;
    line-height: 0px;
  }
  .genres-container {
    display: block;
    padding-bottom: 2%;
    padding-left: 2%;
    max-width: 100%;
  }
  .display {

    padding-top: 20px;
    
  }
  .card-button {
    font-size: 10px;
    padding: 5px 8px;
    margin-top: 10px;
    margin-left: 5px;
  }
  .movie-poster:hover > .display{
    height: fit-content;
    transition-delay: 300ms;
  }
}

@media only screen and (max-width: 500px) {
    .movie-poster-img{
      height: 60px;
  }
    .movie-name {

    margin-left: 5px;
    font-size: 8px;
    margin-bottom: 0;
  }
  .genres-container {
    margin: 0;
    padding-bottom: 0;
    line-height: 8px;
  }
  .genre{
    font-size: 6px;
    
  }
  .display {

    padding-top: 20px;
    
  }
  .card-button {
    font-size: 5px;
    padding: 2px 3px;
    margin-left: 3px;
  }
  .movie-poster:hover > .display{
    height: fit-content;
    transition-delay: 300ms;
  }
  .movie-poster:hover {
  transform: scale(1.1) translateY(-2%) !important;
    transition-delay: 300ms;
  }
}